body{
	font-family: sans-serif;
}

.wrapper{
	overflow: hidden;
	float: right;
	margin-left: 25px;
}

.date{
	font-weight: bold;
}

.bod{
	display: none;
/*PAU HANA*/
}

.ind {
	list-style-type: none;
	float: left;
}